body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}
form {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    margin-top: 140px;
}
input[type="text"] {
    font-size: 28px;
    line-height: 1.8em;
    text-align: center;
    max-width: 220px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(68, 127, 165);
}
button {
    font-size: 28px;
    line-height: 1.8em;
    text-align: center;
    max-width: 160px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(142, 43, 25);
    background-color: rgb(213, 211, 211);
}